@media screen {
  .div-box {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  }
}

@media screen and (min-width: 900px) {
  .body-center {
    margin: 4rem auto;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .display-inline-box {
    margin-top: 15px;
  }
}
@media print {
  body {
    background: none;
    color: #212529;
    -webkit-print-color-adjust: exact;
  }
  .body-center {
    color: #212529 !important;
    -webkit-print-color-adjust: exact;
  }
  .header {
    padding: 0px 20px 0px 20px !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .print {
    display: none!important;
  }
  @page {
    margin: 4mm;
  }
}

.body-center {
  font-weight: 400;
  color: #4a4a4a;
}

body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

.icon-padding {
  padding-right: 10px;
}

.points-padding {
  padding-left: 20px;
}

.company {
  font-weight: 600;
}
.header {
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.header a {
  color: #4a4a4a;
}

.default-padding {
  padding: 5px 20px 0 20px;
}
.contact-info i {
  margin-right: 10px;
}
.div-box {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: #4a4a4a;
  height: 30px;
  font-size: 15px;
  letter-spacing: normal;
  border: 2px solid #4a4a4a;
  background: white;
  padding: 16px 10px 12px 10px;
  margin-bottom: 5px;
}

.display-inline {
  margin-top: 5px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  align-content: center;
}

.width-max {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.info {
  flex: 3;
}
.contact-info {
  flex: 1;
}
